<!DOCTYPE html>
<html lang="it-IT">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title | default: site.title }}</title>
  <meta name="description" content="{{ page.description | default: site.description }}">

  <!-- OpenGraph tags -->
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ page.description | default: site.description }}">
  <meta property="og:image" content="{{ site.url }}{{ site.image }}">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:type" content="website">

  <!-- Twitter Card tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ page.title | default: site.title }}">
  <meta name="twitter:description" content="{{ page.description | default: site.description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ site.image }}">
  <meta name="twitter:site" content="@{{ site.twitter_username }}">

  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body>
  <div class="container-lg px-3 my-5 markdown-body">
    {{ content }}
  </div>
</body>
</html>
